input1:=Uniform(4,72)|250<=Gaussian(3271.258, 2821.3251545038192)<=18424|Discrete("domestic appliance","other","business","new car","retraining","furniture/equipment","radio/tv","used car","repairs","education")|Discrete("high qualif/self emp/mgmt","unskilled resident","unemp/unskilled non res","skilled")
