input1:=Discrete("Minions: The Rise of Gru","The Replacements","Cutthroat Island","The Concubine","This Is 40","The Wolverine","Dead Heat","Masterminds","We're the Millers","The Blackening")|Uniform(1905,2022)|Discrete("Animation","Horror","Fantasy","Biography","Music","Romance","Musical","Sci-Fi","Adventure","Drama")|0<=Gaussian(6.135624538063563, 1.0629182441937217)<=10|Discrete("03:15","01:59","02:49","03:00","03:06","02:11","01:33","01:09","02:01","01:26")
